{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Pranay Shriwas</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/img1.jpg' %}">
					<hr>
					<h4>Hi I'm PRANAY!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>
						Understand Django's architecture and conventions.
						Familiarize yourself with the Django ORM for database interactions.
						Learn about Django's templating engine for building dynamic web pages.
						Follow Django's best practices and coding standards.
						Utilize Django's built-in security features for protecting web applications.
						Write clean and modular code to ensure maintainability.
						Implement and run tests using Django's testing framework.
						Collaborate effectively with your team and follow project requirements.
						Continuously expand your knowledge of Django and related technologies.
						Stay updated with the Django community for new updates and resources.
					</p>

					<ul class="social-links">
						<a href="https://github.com/PranayShriwas">
							<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						</a>
						<a href="https://www.linkedin.com/in/pranay-shriwas-b53888262/">
							<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>

							<a href="https://twitter.com/pranay_shriwas">
								<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
							</a>

					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>
						Building web applications using Django's powerful framework.
						Developing a strong understanding of Django's MVC architecture.
						Working with Django's ORM for efficient database interactions.
						Creating dynamic web pages using Django's templating engine.
						Collaborating with frontend developers to integrate the backend functionality.
						Writing tests and debugging code to ensure quality and reliability.
						Exploring the Django ecosystem for additional features and libraries.
						Engaging in teamwork and effective communication.
						Embracing continuous learning to stay updated with Django's latest trends and best practices.
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres,Sql and APIs
						JavaScript charts and a whole bunch more I can’t possibly mention in one sentence!</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Reverse Engineer & Build Ugly Prototypes First.</p>

					<p>
						Consult official Django documentation.
						Take online tutorials and courses.
						Read Django-related books and eBooks.
						Contribute to open-source projects.
						Engage in online communities and forums.
						Attend Django conferences and meetups.
						Work on personal projects for hands-on experience.
						Follow Django blogs and online resources.
						Experiment, practice, and build small projects.
						Stay curious and keep up with updates.
					</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
					<hr>
					<p>A short-term goal as a Django developer could be:

						Build a fully functional web application using Django within the next three months.
						Achieving this goal will allow you to apply your Django knowledge and gain practical experience
						in developing real-world applications.</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>

</html>